<input class="range-input-slider field-designator" type="range" value="{{config.average}}"
max="{{config.max}}" min="{{config.min}}" step="{{config.step}}" data-value="{{config.average}}
"></input>
<div class="range-numbers">
    <div>
        {{config.min}} {{type.unit}}
    </div>
    <div class="range-numbers-middle">
        <input class="range-input-number" type="number" value="{{config.average}}" max="{{config.max}}" min="{{config.min}}" step="{{config.step}}"></input>
        <div>
            {{type.unit}}
        </div>
    </div>
    <div>
        {{config.max}} {{type.unit}}
    </div>
</div>
