<html>

<head>
  <title>Twisted MUD Account</title>

  <link rel="stylesheet" href="../stylesheets/global.css" type="text/css" />
  <link rel="stylesheet" href="../stylesheets/auth.css" type="text/css" />
  <link rel="stylesheet" href="../stylesheets/account.css" type="text/css" />
  <link rel="stylesheet" href="../stylesheets/createCharacter.css" type="text/css" />
</head>

<body>
  <div class="view column" background="grey_1">
    {{{topBar}}}
    <div class="section header_2" background="purple">
      Create a New Character
    </div>
    <div class="row fill_h">
      <div class="section fill_w" id="create-view" background="grey_2">
        <div class="box section" background="grey_3">
          <div class="section compact header_3" background="green">Nominal Information</div>
          <div class="section compact" id="nominal-info" background="grey_1">
            <input class="rounded fill_w" type="text" id="characterFullName" placeholder="Character Full Name"></input>
            <input class="rounded fill_w" type="text" id="characterShortName" placeholder="Character Short Name"></input>
          </div>
        </div>
        <div class="box section" background="grey_3">
          <div class="section compact header_3" background="green">Attribute Selection</div>
          <div class="section compact attribute-tree" background="grey_1">
            {{{attributeTree}}}
          </div>
          <div class="section" background="grey_1">
            <div class="header_3" id="remaining-attributes-display" data-maxAttributes={{attributeCount}}>0 / {{attributeCount}}</div>
            <div id="attribute-help-text">You may select up to {{attributeCount}} attributes from the above tree. <br><br>Note that there is no restriction on the tier of attribute you choose from. Attributes will adjust themselves based on the strength of their siblings in the attribute tree.</div>
          </div>
        </div>
        <div class="box section" background="grey_3">
          <div class="section compact header_3" background="green">Biology Selection</div>
          <div class="section compact" id="species-sex-selections" background="grey_1">
            {{{speciesItems}}}
          </div>
          <div class="section compact hidden" id="species-sex-descriptors" background="grey_1">
            <div class="section compact header_3" background="purple">Character Descriptors</div>
            {{{speciesDescriptors}}}
          </div>
          <div class="section compact hidden" id="species-sex-infos" background="grey_1">
            {{{speciesInfos}}}
          </div>
        </div>
        <div class="section box header_3 clickable" id="createCharacterButton" background="blue">
          Create Character
        </div>
        <div id="server-create-results" class="section box hidden header_3" background="red">
        </div>
      </div>
      <!--<div class="section column fill_w" background="grey_2">

      </div> -->
    </div>
    <!--<div class="section box header_3 clickable" id="createCharacterButton" background="blue">
      Create Character
    </div> -->
  </div>
  <!-- loading the neccessary javascripts -->
  <script src="/javascripts/built/create.js"></script>
</body>

</html>
